<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  {% set recipientVar = 'OJ! Email' %}
  {% include 'components/head.twig' %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Mail Trends</title>

  <script type="text/javascript" src="/css/jquery.js"></script>
  <script type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script type="text/javascript" src="/css/main.js"></script>
</head>
<body>
  <div class="ui grey fixed inverted menu">
      {% include 'components/menu.twig' %}
  </div>
  <h1>Mail Trends</h1>
<div class="subtitle">
</div>
  <div class="stat-tabs">
  <ul class="stat-tabs-titles">
      <li onclick="toggleTabStat('tab-0')" id="tab-0-title" class="stat-tab-title unselectable">Last received emails </li>
      <li onclick="toggleTabStat('tab-1')" id="tab-1-title" class="stat-tab-title unselectable">Top senders </li>
      <li onclick="toggleTabStat('tab-2')" id="tab-2-title" class="stat-tab-title unselectable">Top subjects </li>
      <li onclick="toggleTabStat('tab-3')" id="tab-3-title" class="stat-tab-title unselectable">Top time of receiving email </li>
      <li onclick="toggleTabStat('tab-4')" id="tab-4-title" class="stat-tab-title unselectable">Top size of email</li>
      <li onclick="toggleTabStat('tab-5')" id="tab-5-title" class="stat-tab-title unselectable">Last reported emails </li>
      <li onclick="toggleTabStat('tab-6')" id="tab-6-title" class="stat-tab-title unselectable">Top notifiers</li>
      <li onclick="toggleTabStat('tab-7')" id="tab-7-title" class="stat-tab-title unselectable">Top time of reporting</li>
  </ul>

  <div id="tab-0-pane" class="stat-tab-pane hidden">
      <table class="stat-group">
<tr>
  <td class="stat-group-item">
    <div class="stat table-stat-container" id="stat-1">
    </td>
  </tr>
  <h3>
    <select onchange="toggleTableStatTop(this)">
      <option value="top50">50</option>
<!--
      <option value="top25">25</option>
      <option value="top100">100</option>
-->
    </select>

    Last received emails by date and time

  </h3>
      <table class="table-stat top50">
        <thead>
        <tr>
          <th>From:</th>
          <th>Subject:</th>
          <th>Date:</th>
        </tr>
        </thead>

      <tbody>
          {% for emails in emails|slice(0,50) %}

        <tr>
          <td>{{ emails.innerFrom }}</td>
          <td>{{ emails.innersubject }}</td>
          <td>{{ emails.innerdate }}</td>
        </tr>
        {% endfor %}

          {% if emails is empty %}
          <tr>
              <td colspan="3">There are no emails registered yet!</td>
          </tr>
          {% endif %}
      </tbody>
  </table>
  </div>

  <div id="tab-1-pane" class="stat-tab-pane hidden">
      <table class="stat-group">
<tr>
  <td class="stat-group-item">
    <div class="stat table-stat-container" id="stat-2">
    </td>
  </tr>
  <h3>
    <select onchange="toggleTableStatTop(this)">
      <option value="top50">50</option>
<!--
      <option value="top25">25</option>
      <option value="top100">100</option>
-->
    </select>

      Top messages by sender address

    </h3>
        <table class="table-stat top50">
          <thead>
          <tr>
            <th>From:</th>
            <th>Number of emails reported:</th>
          </tr>
          </thead>

        <tbody>
            {% for emails in emails %}
          <tr>
            <td>{{ emails.innerFrom }}</td>
            <td>{{ emails.reported }}</td>
          </tr>
          {% endfor %}
            {% if emails is empty %}
            <tr>
                <td colspan="3">There are no emails registered yet!</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
  </div>

  <div id="tab-2-pane" class="stat-tab-pane hidden">
      <table class="stat-group">
<tr>
  <td class="stat-group-item">
    <div class="stat" id="stat-2">
    </td>
  </tr>
  <div class="subtitle">
  </div>
  <h3>
    <select onchange="toggleTableStatTop(this)">
      <option value="top50">50</option>
<!--
      <option value="top25">Top 25</option>
      <option value="top50">Top 50</option>
-->     <option value="top100">Top 100</option>
    </select>

    Top messages by subject

  </h3>
      <table class="table-stat top50">
        <thead>
        <tr>
          <th>Subject:</th>
          <th>Number of emails reported:</th>
        </tr>
        </thead>

      <tbody>
          {% for emails in emails %}
        <tr>
          <td>{{ emails.innersubject }}</td>
          <td>{{ emails.reported }}</td>
        </tr>
        {% endfor %}

          {% if emails is empty %}
          <tr>
              <td colspan="3">There are no emails registered yet!</td>
          </tr>
          {% endif %}
      </tbody>
  </table>
</div>
<div id="tab-3-pane" class="stat-tab-pane hidden">
    <table class="stat-group">
<tr>
<td class="stat-group-item">
  <div class="stat" id="stat-3">
  </td>
</tr>
<div class="subtitle">
</div>
<h3>
  <select onchange="toggleTableStatTop(this)">
    <option value="top50">50</option>
<!--
    <option value="top25">Top 25</option>
    <option value="top50">Top 50</option>
-->     <option value="top100">Top 100</option>
  </select>

  Top time of receiving email

</h3>
    <table class="table-stat top50">
      <thead>
      <tr>
        <th>Date:</th>
      </tr>
      </thead>

    <tbody>
        {% for emails in emails %}
      <tr>
        <td>{{ emails.innerdate }}</td>
      </tr>
      {% endfor %}

        {% if emails is empty %}
        <tr>
            <td colspan="3">There are no emails registered yet!</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>

<div id="tab-4-pane" class="stat-tab-pane hidden">
    <table class="stat-group">
<tr>
<td class="stat-group-item">
  <div class="stat" id="stat-4">
  </td>
</tr>
<div class="subtitle">
</div>
<h3>
  <select onchange="toggleTableStatTop(this)">
    <option value="top50">50</option>
<!--
    <option value="top25">Top 25</option>
    <option value="top50">Top 50</option>
-->     <option value="top100">Top 100</option>
  </select>

  Top messages by size

</h3>
    <table class="table-stat top50">
      <thead>
      <tr>
        <th>Size:</th>
        <th>From:</th>
        <th>Subject:</th>
      </tr>
      </thead>

    <tbody>
        {% for emails in emails %}
      <tr>
        <td>{{ emails.size }}</td>
        <td>{{ emails.innerFrom }}</td>
        <td>{{ emails.innersubject }}</td>
      </tr>
      {% endfor %}

        {% if emails is empty %}
        <tr>
            <td colspan="3">There are no emails registered yet!</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>
<div id="tab-5-pane" class="stat-tab-pane hidden">
    <table class="stat-group">
<tr>
<td class="stat-group-item">
  <div class="stat table-stat-container" id="stat-5">
  </td>
</tr>
<h3>
  <select onchange="toggleTableStatTop(this)">
    <option value="top50">50</option>
<!--
    <option value="top25">25</option>
    <option value="top100">100</option>
-->
  </select>

  Last reported emails by date and time

</h3>
    <table class="table-stat top50">
      <thead>
      <tr>
        <th>From:</th>
        <th>Subject:</th>
        <th>Date:</th>
      </tr>
      </thead>

    <tbody>
        {% for emails in emails|slice(0,50) %}

      <tr>
        <td>{{ emails.innerFrom }}</td>
        <td>{{ emails.innersubject }}</td>
        <td>{{ emails.outerdate }}</td>
      </tr>
      {% endfor %}

        {% if emails is empty %}
        <tr>
            <td colspan="3">There are no emails registered yet!</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>
<div id="tab-6-pane" class="stat-tab-pane hidden">
    <table class="stat-group">
<tr>
<td class="stat-group-item">
  <div class="stat" id="stat-6">
  </td>
</tr>
<div class="subtitle">
</div>
<h3>
  <select onchange="toggleTableStatTop(this)">
    <option value="top50">50</option>
<!--
    <option value="top25">Top 25</option>
    <option value="top50">Top 50</option>
-->     <option value="top100">Top 100</option>
  </select>

  Top notifiers

</h3>
    <table class="table-stat top50">
      <thead>
      <tr>
        <th>Notifiers:</th>
        <th>Number of emails reported:</th>
      </tr>
      </thead>

    <tbody>
        {% for emails in emails %}
      <tr>
        <td>{{ emails.outerFrom }}</td>
        <td>{{ emails.reported }}</td>
      </tr>
      {% endfor %}

        {% if emails is empty %}
        <tr>
            <td colspan="3">There are no emails registered yet!</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>
<div id="tab-7-pane" class="stat-tab-pane hidden">
    <table class="stat-group">
<tr>
<td class="stat-group-item">
  <div class="stat" id="stat-7">
  </td>
</tr>
<div class="subtitle">
</div>
<h3>
  <select onchange="toggleTableStatTop(this)">
    <option value="top50">50</option>
<!--
    <option value="top25">Top 25</option>
    <option value="top50">Top 50</option>
-->     <option value="top100">Top 100</option>
  </select>

  Top time of reporting

</h3>
    <table class="table-stat top50">
      <thead>
      <tr>
        <th>Date:</th>
      </tr>
      </thead>

    <tbody>
        {% for emails in emails %}
      <tr>
        <td>{{ emails.outerdate }}</td>
      </tr>
      {% endfor %}

        {% if emails is empty %}
        <tr>
            <td colspan="3">There are no emails registered yet!</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>
<script type="text/javascript">
  toggleTabStat('tab-0');
</script>
</body>
</html>
